@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #d4b5ff;
  --text-color: #222222;
  --background-color: #E6E6E6;
  --border-color: #eeeeee;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-poppins), sans-serif;
  padding-left: 60px;
  padding-right: 60px;
}

.accent-text {
  color: var(--accent-color);
}

.work-tag {
  color: #6e56cf;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.case-study-tag {
  color: #e5b355;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  background-color: #fffae6;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.product-design-tag {
  color: #6e56cf;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  background-color: #eee6ff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.graphic-design-tag {
  color: #2950cf;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  background-color: #f0faff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
